<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer API Introduction</title>
    <!-- Including Bootstrap CSS for styling -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Lawyer API!</h1>
        <p class="lead">An intuitive API for managing legal cases, clients, and judges.</p>
        <hr class="my-4">
        <p>Choose an option below to explore our API documentation:</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg mr-2" href="/redoc" role="button">ReDoc</a>
            <a class="btn btn-secondary btn-lg" href="/docs" role="button">FastAPI Docs</a>
        </p>
    </div>
</div>

<!-- Including jQuery and Bootstrap JS for interactivity -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/main.js"></script>
</body>
</html>
